#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Keyword {
  color: rgb(118, 169, 201);
}

.Token {
  color: lightslategray;
}

.StringLiteral {
  color: rgb(192, 139, 41);
}

.Identifier {
  padding-inline-start: 0.3em;
  padding-inline-end: 0.3em;
}

.FunctionDeclaration {
  /* border: 1px dashed rgb(126, 8, 8); */
}

.SyntaxList {
  /*border: 1px dotted yellowgreen;*/
  display: inline-block;
}

.ArrayBindingPattern {
  display: inline-block;
}

.SingleLineCommentTrivia {
  color: rgb(31, 107, 31);
}

.MultiLineCommentTrivia {
  color: rgb(58, 122, 58);
}